In [1]:
!pip install polars
!pip install glob2
!pip install boto3

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: polars in /home/jupyter-user/.local/lib/python3.9/site-packages (0.18.15)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: glob2 in /home/jupyter-user/.local/lib/python3.9/site-packages (0.7)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: boto3 in /home/jupyter-user/.local/lib/python3.9/site-packages (1.28.2)
Requirement already satisfied: botocore<1.32.0,>=1.31.2 in /home/jupyter-user/.local/lib/python3.9/site-packages (from boto3) (1.31.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/jupyter-user/.local/lib/python3.9/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /home/jupyter-user/.local/lib/python3.9/site-packages (from boto3) (0.6.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/jupyter-user/.local/lib/python3.9/site-packages (from botocore<1.32.0,>=1.31.2->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/jupyter-user/.local/lib/python3.9/site-packages (from botocore<1.32.0,>=1.31.2->boto3) (1.26.16)
Requirement already satisfied: six>=1.5 in /home/jupyter-user/.local/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.2->boto3) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import polars as pl
import numpy as np
import glob
import boto3
from io import BytesIO
from botocore.exceptions import NoCredentialsError

In [3]:
def concatenate_files_to_dataframe(bucket_name, prefix,sep,how):
    try:
        # Listar os objetos no bucket com o prefixo especificado
        objects = s3.list_objects_v2(Bucket=bucket_name, Prefix=prefix)

        # Inicializar uma lista para armazenar os DataFrames de cada arquivo
        dataframes = []

        # Processar cada objeto listado
        for obj in objects.get('Contents', []):
            key = obj['Key']

            # Baixar o objeto como um stream de bytes
            response = s3.get_object(Bucket=bucket_name, Key=key)
            data = response['Body'].read()
            
            # Decodificar o stream de bytes usando a codificação correta
            #decoded_data = data.decode('iso-8859-1')

            # Processar o stream de bytes como um DataFrame (usando pandas neste exemplo)
            try:
                dataframe = pl.read_csv(BytesIO(data),separator=sep,encoding='utf8-lossy')
            except:
                next
            # Adicionar o DataFrame à lista
            dataframes.append(dataframe)

        # Concatenar todos os DataFrames em um único DataFrame
        concatenated_dataframe = pl.concat(dataframes, how=how)

        # Mostrar as primeiras linhas do DataFrame concatenado
        print(concatenated_dataframe.head())

    except NoCredentialsError:
        print("Credenciais não encontradas. Certifique-se de configurar suas credenciais AWS.")
    return concatenated_dataframe

In [4]:
def save_dataframe_to_s3(dataframe, destination_bucket, destination_key):
    try:
        # Salvar o DataFrame como um arquivo Parquet em um objeto BytesIO
        buffer = BytesIO()
        dataframe.write_parquet(buffer)

        # Fazer o upload do arquivo Parquet para o novo bucket S3
        s3.put_object(Bucket=destination_bucket, Key=destination_key, Body=buffer.getvalue())

        print("DataFrame tratado salvo com sucesso no novo bucket S3!")

    except NoCredentialsError:
        print("Credenciais não encontradas. Certifique-se de configurar suas credenciais AWS.")

# empregados

In [5]:
# Configurações
bucket_name = 'raw-data-638026687251'
prefix = 'Empregados/'
# Inicializar o cliente S3
s3 = boto3.client('s3')
# Chamar a função para iniciar o download e processamento
df_empregados = concatenate_files_to_dataframe(bucket_name, prefix,'|','diagonal')
df_empregados = df_empregados[['Nome','Geral','Remuneração e benefícios']]
df_empregados.head(1)

shape: (5, 24)
┌────────────┬───────────┬───────────┬───────────┬───┬──────────┬───────────┬───────────┬──────────┐
│ employer_n ┆ reviews_c ┆ culture_c ┆ salaries_ ┆ … ┆ CNPJ     ┆ Nome      ┆ match_per ┆ Segmento │
│ ame        ┆ ount      ┆ ount      ┆ count     ┆   ┆ ---      ┆ ---       ┆ cent      ┆ ---      │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆   ┆ i64      ┆ str       ┆ ---       ┆ str      │
│ str        ┆ i64       ┆ i64       ┆ i64       ┆   ┆          ┆           ┆ i64       ┆          │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════╪═══════════╪══════════╡
│ Apex Group ┆ 450       ┆ 281       ┆ 592       ┆ … ┆ 655522   ┆ APE       ┆ 70        ┆ null     │
│            ┆           ┆           ┆           ┆   ┆          ┆ POUPEX    ┆           ┆          │
│ Banco Alfa ┆ 175       ┆ 74        ┆ 271       ┆ … ┆ 58160789 ┆ SAFRA     ┆ 67        ┆ null     │
│ China Cons ┆ 871       ┆ 194       ┆ 720       ┆ … ┆ 7450604  ┆ CHINA CON ┆ 77        ┆ null     │
│ truction   ┆           ┆           ┆           ┆   ┆          ┆ STRUCTION ┆           ┆          │
│ Bank       ┆           ┆           ┆           ┆   ┆          ┆ BANK      ┆           ┆          │
│            ┆           ┆           ┆           ┆   ┆          ┆ (BRASIL)… ┆           ┆          │
│ Mercedes-B ┆ 282       ┆ 90        ┆ 513       ┆ … ┆ 60814191 ┆ MERCEDES- ┆ 73        ┆ null     │
│ enz        ┆           ┆           ┆           ┆   ┆          ┆ BENZ      ┆           ┆          │
│ Mobility   ┆           ┆           ┆           ┆   ┆          ┆           ┆           ┆          │
│ Sumitomo   ┆ 903       ┆ 246       ┆ 1300      ┆ … ┆ 60518222 ┆ BANCO     ┆ 65        ┆ null     │
│ Mitsui     ┆           ┆           ┆           ┆   ┆          ┆ SUMITOMO  ┆           ┆          │
│ Financial  ┆           ┆           ┆           ┆   ┆          ┆ MITSUI    ┆           ┆          │
│ Group      ┆           ┆           ┆           ┆   ┆          ┆ BRASIL    ┆           ┆          │
│            ┆           ┆           ┆           ┆   ┆          ┆ S.A…      ┆           ┆          │
└────────────┴───────────┴───────────┴───────────┴───┴──────────┴───────────┴───────────┴──────────┘

shape: (1, 3)
┌────────────┬───────┬──────────────────────────┐
│ Nome       ┆ Geral ┆ Remuneração e benefícios │
│ ---        ┆ ---   ┆ ---                      │
│ str        ┆ f64   ┆ f64                      │
╞════════════╪═══════╪══════════════════════════╡
│ APE POUPEX ┆ 3.2   ┆ 2.7                      │
└────────────┴───────┴──────────────────────────┘

# bancos

In [6]:
# Configurações
bucket_name = 'raw-data-638026687251'
prefix = 'Bancos/'
# Inicializar o cliente S3
s3 = boto3.client('s3')
# Chamar a função para iniciar o download e processamento
df_bancos = concatenate_files_to_dataframe(bucket_name, prefix,'\t','diagonal')

df_bancos = df_bancos.with_columns(pl.col('Nome').str.split_exact(" - ", 1).struct.rename_fields(["Nome do Banco", "second_part"]).alias("fields")).unnest("fields")
df_bancos = df_bancos.drop(columns=['Nome','second_part'])
df_bancos.head(1)

shape: (5, 3)
┌──────────┬──────────┬───────────────────────────────────┐
│ Segmento ┆ CNPJ     ┆ Nome                              │
│ ---      ┆ ---      ┆ ---                               │
│ str      ┆ i64      ┆ str                               │
╞══════════╪══════════╪═══════════════════════════════════╡
│ S1       ┆ 0        ┆ BANCO DO BRASIL - PRUDENCIAL      │
│ S1       ┆ 60746948 ┆ BRADESCO - PRUDENCIAL             │
│ S1       ┆ 30306294 ┆ BTG PACTUAL - PRUDENCIAL          │
│ S1       ┆ 360305   ┆ CAIXA ECONOMICA FEDERAL - PRUDEN… │
│ S1       ┆ 60872504 ┆ ITAU - PRUDENCIAL                 │
└──────────┴──────────┴───────────────────────────────────┘

shape: (1, 3)
┌──────────┬──────┬─────────────────┐
│ Segmento ┆ CNPJ ┆ Nome do Banco   │
│ ---      ┆ ---  ┆ ---             │
│ str      ┆ i64  ┆ str             │
╞══════════╪══════╪═════════════════╡
│ S1       ┆ 0    ┆ BANCO DO BRASIL │
└──────────┴──────┴─────────────────┘

# reclamações

In [7]:
# Configurações
bucket_name = 'raw-data-638026687251'
prefix = 'Reclamações/'
# Inicializar o cliente S3
s3 = boto3.client('s3')
# Chamar a função para iniciar o download e processamento
df_reclamacoes = concatenate_files_to_dataframe(bucket_name, prefix,';','vertical_relaxed')

df_reclamacoes = df_reclamacoes.with_columns(pl.col('Institui��o financeira').str.split_exact(" (", 1).struct.rename_fields(["Nome do Banco", "second_part"]).alias("fields")).unnest("fields")
df_reclamacoes = df_reclamacoes[["Nome do Banco", '�ndice','Quantidade total de reclama��es', 'Quantidade total de clientes � CCS e SCR']]
df_reclamacoes = df_reclamacoes.with_columns(pl.col('�ndice').str.replace('.',''))
df_reclamacoes = df_reclamacoes.with_columns(pl.col('�ndice').str.replace(',','.'))
df_reclamacoes.head(1)

shape: (5, 14)
┌──────┬───────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ Ano  ┆ Trimestre ┆ Categoria  ┆ Tipo       ┆ … ┆ Quantidade ┆ Quantidade ┆ Quantidad ┆ Quantidad │
│ ---  ┆ ---       ┆ ---        ┆ ---        ┆   ┆ total de   ┆ total de   ┆ e de      ┆ e de      │
│ i64  ┆ str       ┆ str        ┆ str        ┆   ┆ reclama��e ┆ clientes � ┆ clientes  ┆ clientes  │
│      ┆           ┆            ┆            ┆   ┆ s          ┆ C…         ┆ � CCS     ┆ � SCR     │
│      ┆           ┆            ┆            ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
│      ┆           ┆            ┆            ┆   ┆ i64        ┆ str        ┆ str       ┆ str       │
╞══════╪═══════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 2021 ┆ 1�        ┆ Grupo      ┆ Conglomera ┆ … ┆ 9          ┆ 26230      ┆ 24698     ┆ 3810      │
│      ┆           ┆ Secund�rio ┆ do         ┆   ┆            ┆            ┆           ┆           │
│ 2021 ┆ 1�        ┆ Grupo      ┆ Conglomera ┆ … ┆ 271        ┆ 1058431    ┆ 790848    ┆ 693843    │
│      ┆           ┆ Secund�rio ┆ do         ┆   ┆            ┆            ┆           ┆           │
│ 2021 ┆ 1�        ┆ Grupo      ┆ Banco/fina ┆ … ┆ 6          ┆ 420692     ┆ 129       ┆ 420563    │
│      ┆           ┆ Secund�rio ┆ nceira     ┆   ┆            ┆            ┆           ┆           │
│ 2021 ┆ 1�        ┆ Grupo      ┆ Banco/fina ┆ … ┆ 2          ┆ 12645      ┆ 4979      ┆ 10112     │
│      ┆           ┆ Secund�rio ┆ nceira     ┆   ┆            ┆            ┆           ┆           │
│ 2021 ┆ 1�        ┆ Grupo      ┆ Conglomera ┆ … ┆ 73         ┆ 412135     ┆ 268186    ┆ 145105    │
│      ┆           ┆ Secund�rio ┆ do         ┆   ┆            ┆            ┆           ┆           │
└──────┴───────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

shape: (1, 4)
┌───────────────┬────────┬─────────────────────────────────┬───────────────────────────────────┐
│ Nome do Banco ┆ �ndice ┆ Quantidade total de reclama��es ┆ Quantidade total de clientes � C… │
│ ---           ┆ ---    ┆ ---                             ┆ ---                               │
│ str           ┆ str    ┆ i64                             ┆ str                               │
╞═══════════════╪════════╪═════════════════════════════════╪═══════════════════════════════════╡
│ ABC-BRASIL    ┆        ┆ 9                               ┆ 26230                             │
└───────────────┴────────┴─────────────────────────────────┴───────────────────────────────────┘

In [8]:
df_join1=df_bancos.join(df_empregados,left_on='Nome do Banco',right_on='Nome',how='inner')

In [9]:
df_join1.head(1)

shape: (1, 5)
┌──────────┬──────┬─────────────────┬───────┬──────────────────────────┐
│ Segmento ┆ CNPJ ┆ Nome do Banco   ┆ Geral ┆ Remuneração e benefícios │
│ ---      ┆ ---  ┆ ---             ┆ ---   ┆ ---                      │
│ str      ┆ i64  ┆ str             ┆ f64   ┆ f64                      │
╞══════════╪══════╪═════════════════╪═══════╪══════════════════════════╡
│ S1       ┆ 0    ┆ BANCO DO BRASIL ┆ 4.3   ┆ 4.2                      │
└──────────┴──────┴─────────────────┴───────┴──────────────────────────┘

In [10]:
df_join2 = df_bancos.join(df_reclamacoes,on='Nome do Banco',how='inner')

In [11]:
df_join2.head(1)

shape: (1, 6)
┌──────────┬──────────┬───────────────┬────────┬─────────────────────┬─────────────────────┐
│ Segmento ┆ CNPJ     ┆ Nome do Banco ┆ �ndice ┆ Quantidade total de ┆ Quantidade total de │
│ ---      ┆ ---      ┆ ---           ┆ ---    ┆ reclama��es         ┆ clientes � C…       │
│ str      ┆ i64      ┆ str           ┆ str    ┆ ---                 ┆ ---                 │
│          ┆          ┆               ┆        ┆ i64                 ┆ str                 │
╞══════════╪══════════╪═══════════════╪════════╪═════════════════════╪═════════════════════╡
│ S1       ┆ 60746948 ┆ BRADESCO      ┆ 2.78   ┆ 8752                ┆ 98648524            │
└──────────┴──────────┴───────────────┴────────┴─────────────────────┴─────────────────────┘

In [12]:
df_join2 = df_join2.with_columns(pl.col(['�ndice']).cast(pl.Float64,strict=False))
df_join2 = df_join2.with_columns(pl.col(['Quantidade total de reclama��es', 'Quantidade total de clientes � CCS e SCR']).cast(pl.Int64))

In [13]:
df_join2 = df_join2.groupby(['CNPJ','Nome do Banco']).agg(
    pl.col('�ndice').mean(),
    pl.col('Quantidade total de reclama��es').sum(),
    pl.col('Quantidade total de clientes � CCS e SCR').sum()
    )

In [14]:
df_final = df_join1.join(df_join2,on='CNPJ',how='inner')

In [15]:
df_final.head(1)

shape: (1, 9)
┌──────────┬──────────┬─────────┬───────┬───┬───────────────┬────────┬──────────────┬──────────────┐
│ Segmento ┆ CNPJ     ┆ Nome do ┆ Geral ┆ … ┆ Nome do       ┆ �ndice ┆ Quantidade   ┆ Quantidade   │
│ ---      ┆ ---      ┆ Banco   ┆ ---   ┆   ┆ Banco_right   ┆ ---    ┆ total de     ┆ total de     │
│ str      ┆ i64      ┆ ---     ┆ f64   ┆   ┆ ---           ┆ f64    ┆ reclama��es  ┆ clientes �   │
│          ┆          ┆ str     ┆       ┆   ┆ str           ┆        ┆ ---          ┆ C…           │
│          ┆          ┆         ┆       ┆   ┆               ┆        ┆ i64          ┆ ---          │
│          ┆          ┆         ┆       ┆   ┆               ┆        ┆              ┆ i64          │
╞══════════╪══════════╪═════════╪═══════╪═══╪═══════════════╪════════╪══════════════╪══════════════╡
│ S1       ┆ 60872504 ┆ ITAU    ┆ 4.5   ┆ … ┆ ITAU          ┆ 4.9125 ┆ 48702        ┆ 725005836    │
└──────────┴──────────┴─────────┴───────┴───┴───────────────┴────────┴──────────────┴──────────────┘

In [16]:
df_final = df_final.rename({'Segmento':'Classificação do Banco',
                 'Quantidade total de clientes � CCS e SCR':'Quantidade de Clientes do Bancos',
                 '�ndice':'Índice de reclamações',
                 'Quantidade total de reclama��es':'Quantidade de reclamações',
                 'Geral':'Índice de satisfação dos funcionários dos bancos',
                 'Remuneração e benefícios':'Índice de satisfação com salários dos funcionários dos bancos'})
df_final = df_final.drop(columns=['Nome do Banco_right'])
df_final = df_final[['Nome do Banco',
'CNPJ',
'Classificação do Banco',
'Quantidade de Clientes do Bancos',
'Índice de reclamações',
'Quantidade de reclamações',
'Índice de satisfação dos funcionários dos bancos',
'Índice de satisfação com salários dos funcionários dos bancos']]

In [17]:
df_final

shape: (27, 8)
┌────────────┬──────────┬────────────┬────────────┬────────────┬───────────┬───────────┬───────────┐
│ Nome do    ┆ CNPJ     ┆ Classifica ┆ Quantidade ┆ Índice de  ┆ Quantidad ┆ Índice de ┆ Índice de │
│ Banco      ┆ ---      ┆ ção do     ┆ de         ┆ reclamaçõe ┆ e de recl ┆ satisfaçã ┆ satisfaçã │
│ ---        ┆ i64      ┆ Banco      ┆ Clientes   ┆ s          ┆ amações   ┆ o dos     ┆ o com     │
│ str        ┆          ┆ ---        ┆ do Bancos  ┆ ---        ┆ ---       ┆ funcion…  ┆ salário…  │
│            ┆          ┆ str        ┆ ---        ┆ f64        ┆ i64       ┆ ---       ┆ ---       │
│            ┆          ┆            ┆ i64        ┆            ┆           ┆ f64       ┆ f64       │
╞════════════╪══════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ ITAU       ┆ 60872504 ┆ S1         ┆ 725005836  ┆ 4.9125     ┆ 48702     ┆ 4.5       ┆ 4.6       │
│ BANRISUL   ┆ 92702067 ┆ S2         ┆ 40842351   ┆ 4.10125    ┆ 4092      ┆ 4.2       ┆ 4.1       │
│ CREDIT     ┆ 33987793 ┆ S2         ┆ 5997       ┆ null       ┆ 4         ┆ 3.8       ┆ 3.6       │
│ SUISSE     ┆          ┆            ┆            ┆            ┆           ┆           ┆           │
│ JP MORGAN  ┆ 33172537 ┆ S3         ┆ 15661      ┆ null       ┆ 12        ┆ 4.0       ┆ 3.9       │
│ CHASE      ┆          ┆            ┆            ┆            ┆           ┆           ┆           │
│ …          ┆ …        ┆ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         │
│ BNP        ┆ 1522368  ┆ S3         ┆ 17649892   ┆ 32.4075    ┆ 5168      ┆ 3.8       ┆ 3.4       │
│ PARIBAS    ┆          ┆            ┆            ┆            ┆           ┆           ┆           │
│ MERCEDES-B ┆ 60814191 ┆ S3         ┆ 158806     ┆ null       ┆ 36        ┆ 4.1       ┆ 4.0       │
│ ENZ        ┆          ┆            ┆            ┆            ┆           ┆           ┆           │
│ MERCEDES-B ┆ 60814191 ┆ S3         ┆ 158806     ┆ null       ┆ 36        ┆ 4.1       ┆ 4.0       │
│ ENZ        ┆          ┆            ┆            ┆            ┆           ┆           ┆           │
│ PAN        ┆ 59285411 ┆ S3         ┆ 8907890    ┆ 45.28      ┆ 3953      ┆ 4.4       ┆ 4.6       │
└────────────┴──────────┴────────────┴────────────┴────────────┴───────────┴───────────┴───────────┘

In [18]:
destination_bucket_name = 'process-data-638026687251'
destination_key = 'df_final.parquet'

# Chamar a função para salvar o DataFrame tratado no novo bucket S3
save_dataframe_to_s3(df_final, destination_bucket_name, destination_key)

DataFrame tratado salvo com sucesso no novo bucket S3!